In [56]:
from sklearn import datasets

In [57]:
boston = datasets.load_boston()
X = boston.data
Y = boston.target

In [58]:
import pandas as pd
df = pd.DataFrame(X)
print(boston.feature_names)
df.columns = boston.feature_names
df["age_age"] = df.AGE ** 2
df["tax_tax"] = df.TAX ** 2
df["age_tax"] = df.AGE * df.TAX
df.describe()
X2 = df.values
df.describe()

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age_age,tax_tax,age_tax
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545,195006.197628,30392.764229
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164,157613.919181,20939.061248
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000,34969.000000,675.700000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500,77841.000000,12669.000000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000,108900.000000,24673.900000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500,443556.000000,46520.100000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000,505521.000000,70246.800000

In [59]:
X.shape
X2.shape

(506, 16)

In [60]:
from sklearn import model_selection
#x_test,y_test = 
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y, random_state = 0)
X2_train,X2_test,Y2_train,Y2_test = model_selection.train_test_split(X2,Y, random_state = 0)

In [61]:
from sklearn.linear_model import LinearRegression
algo1 = LinearRegression()
algo2 = LinearRegression()

In [62]:
algo1.fit(X_train, Y_train)
algo2.fit(X2_train, Y2_train)

LinearRegression()

In [63]:
Y_predict = algo1.predict(X_test)

In [64]:
#print("Value of m in(Inbuild Algo):" , algo1.coef_)
#print("Value of c in (Inbuild algo):" , algo1.intercept_)
print("Test score (by incuild algo):", algo1.score(X_test,Y_test))
print("Train score (by incuild algo):", algo1.score(X_train,Y_train))

print("Test score for algo 2(by incuild algo):", algo2.score(X2_test,Y2_test))
print("Train score for algo 2(by incuild algo):", algo2.score(X2_train,Y2_train))

Test score (by incuild algo): 0.6354638433202129
Train score (by incuild algo): 0.7697699488741149
Test score for algo 2(by incuild algo): 0.6361468219094353
Train score for algo 2(by incuild algo): 0.774433397243813